.contact-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.subtitle {
  font-size: 16px;
  color: #555;
  margin-bottom: 30px;
  text-align: center;
}

.contact-form .input-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 6px;
  font-weight: 600;
  color: #333;
}

.contact-form input,
.contact-form textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: border 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color:  #605ED3;
  outline: none;
}

.btn-enviar {
  background-color: #605ED3;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-enviar:hover {
  background-color: #D288C4;
}

@media (max-width: 480px) {
  .contact-container {
    padding: 20px;
  }

  .title {
    font-size: 22px;
  }
}
